doctype html
html
    head
        meta(charset="utf-8")
        title Ezai 챗봇 테스트
        style. 
            table {
                border: 1px solid black;
                border-collapse: callapse;
            } 

            table th, table td{
                border: 1px solid black;
            }
    body
        div
            form#chat-form 
                fieldset
                    legend 사용자 등록  
                    div 
                        input#keyword(type="text" placeholder ="키워드")
                    div 
                        input#story(type="text" placeholder ="내용")
                    button(type="submit") 등록

        br
        table#user-list
            thead
            tr
                th 키워드 
                th 내용

            tbody 
                for clist in chat 
                    tr 
                        td = clist.keyword
                        td = clist.story
            br 

    script(src='/sequelize.js')

    